<div class="row">
    <div class="col-md-6 col-sm-12 col-12 p-2">
        <h3>List of All Cars</h3>

    </div>
    <div class="col-md-6 col-sm-12 col-12 p-2 text-end">
        <a href="/cars/create" class="btn btn-primary">Add New</a>
    </div>
</div>
<hr />

<loading-symbol *ngIf="loading"></loading-symbol>

<div class="row" #showGames>
    <div class="col-md-4 col-sm-6 col-12 p-2" *ngFor="let item of list">
        <div class="card shadow-sm">
            <div class="bd-placeholder-img card-img-top text-center" width="100%" style="height: 225px;">
                <img src="{{item.imageUrl}}" alt="Description of the image" style="max-width: 100%;"
                    (error)="onImageError($event)" />
            </div>

            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="item?.imageUrl" role="img"
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="10%" y="50%" fill="#eceeef" dy=".8em">{{item.Model}}</text>
            </svg> -->
            <div class="card-body">
                <h6>ID: {{item._id}}</h6>
                <hr />
                <div class="card-text">
                    <ul>
                        <li><b>Make:</b> {{item.Make}}</li>
                        <li><b>Year:</b> {{item.Year}}</li>
                    </ul>

                </div>
                <div class="d-flex justify-content-between align-items-center p-3">
                    <small class="text-body-secondary" *ngIf="item.Editions">
                        <span>
                            <b>No. of Editions: </b>{{item.Editions.length}}<br />

                        </span>
                    </small>
                    <small class="text-body-secondary" *ngIf="!item.Editions ">
                        <span>
                            <b>No Editions</b><br />
                        </span>
                    </small>
                </div>
                <br />
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/cars/view/{{item._id}}" class="btn btn-sm btn-outline-success">View</a>
                        <a href="/cars/edit/{{item._id}}" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <!-- <a href="/cars/edit/{{item._id}}" class="btn btn-sm btn-outline-danger">Delete</a> -->
                        <button type="button" class="btn btn-sm btn-outline-danger"
                            (click)="removeitem(item._id!)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>