<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">

        <svg width="100" height="50" viewBox="0 0 400 200" xmlns="http://www.w3.org/2000/svg">
            <!-- Car Body -->
            <rect x="50" y="80" width="300" height="50" fill="blue" stroke="black" stroke-width="3" />
            <rect x="80" y="50" width="160" height="50" fill="blue" stroke="black" stroke-width="3" />
            <!-- Windows -->
            <rect x="100" y="60" width="50" height="30" fill="white" />
            <rect x="170" y="60" width="50" height="30" fill="white" />
            <!-- Wheels -->
            <circle cx="100" cy="140" r="20" fill="black" />
            <circle cx="300" cy="140" r="20" fill="black" />
        </svg>



        <span class="fs-4">Car Collections</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

        <a class="me-3 py-2 link-body-emphasis text-decoration-none" *ngIf="!authService.isTokenValid()"
            routerLink="user/login">Login</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" *ngIf="authService.isTokenValid()"
            (click)="Logout()">LogOut</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" routerLink="home">Home</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" routerLink="cars">Cars</a>

    </nav>
</div>